.page
  background: $grey200

.wrapper
  wrapper()

.container
  container()

.info
  padding-top: 50px

.text
  margin-bottom: 55px

.gallery
  spanFluid(4)

.text
  font-size: 14px
  line-height: 1.8
  spanFluid(8)

  p
    margin: 0 0 35px

.pricelist
  margin-bottom: 50px
  cf()

  &_image
    display: block
    margin: 0 auto
    max-width: 100%

.fos
  width: 50%
  margin: 0 auto
  padding-bottom: 90px
  cf()

.title
  font-family: 'Magistral', sans-serif
  font-size: 32px
  line-height: 1.2
  text-align: center
  margin-bottom: 30px

.subtitle
  font-size: 15px
  line-height: 1.2
  text-align: center
  margin: 0 0 10px

.fos_button
  text-align: center
  margin-top: 30px

.button
  display: inline-block
  background: $red
  font-size: 12px
  text-transform: uppercase
  line-height: 1
  color: $white
  font-weight: bold
  padding: 14px 25px
  border-radius: 20px