extends ../../layout/layout
include ../../modules/title/title
include ../../modules/metalworks_tabs/metalworks_tabs

block body
  +title("Металлические двери", ["Главная", "Изделия", "Металлические двери"])
  .page: .wrapper: .container
    .info
      .gallery
        include ../../modules/metalworking_gallery/metalworking_gallery
      .text
        p Лазерная резка металла – это вид металлообработки принципиально нового поколения, высокотехнологичный, производительный и безопасный. В такой резке в качестве рабочего элемента используется лазерный луч повышенной мощности, который удаляет по заданному контуру участки обрабатываемого материала, тем самым разделяя заготовку или придавая ей нужную форму. Генерируемый оборудованием луч способен очень быстро достигать предельных рабочих температур, что обеспечивает высокую скорость работы.
        p Сам контур реза может быть абсолютно любой и ограничен только толщиной луча, что дает очень широкие технологические возможности. Благодаря этому лазерная резка подходит не только для производства деталей, требующих высокой степени допусков, но и для различных художественных работ: производству элементов интерьерного декора, флюгеров, уличных украшений и многого другого. Кроме того, на станках для лазерной резки можно выполнять и разнообразные гравировочные работы.
    .pricelist
      img.pricelist_image(src='img/price.jpg')
    .fos
      .title Оставить заявку
      .subtitle Оставьте заявку на заказ изделия, мы перезвоним и уточним детали
      .subtitle или позвоните по номеру 8 (812) 969-91-75 с 10 до 22 ежедневно
      .fos_button
        a.button(href='#product-order') оставить заявку