.button
  display: inline-block
  vertical-align: middle
  background: $red
  padding: 12px 27px
  border-radius: 20px
  border: 0
  box-shadow: 0
  text-transform: uppercase
  color: $white
  font-size: 13px
  font-weight: bold

.block
  width: 100%