.page
  background: $grey200

.wrapper
  wrapper()

.container
  container()

.text
  padding: 65px 0 45px
  p
    font-size: 15px
    line-height: 1.65
    margin: 0 0 35px

  ul
    margin: 0 0 0 8px

  li
    list-style-type: none
    margin-bottom: 8px

    &:before
      content: '- '
      display: inline


.left
  spanFluid(7)

.right
  spanFluid(4)