extends ../../layout/layout
include ../../modules/title/title
include ../../modules/services/services

block body
  +title("Металлоконструкции", ["Главная", "Металлоконструкции"])
  .page: .wrapper: .container
    .text
      .left
        p Понятие «металлоконструкции» включает в себя любые строительные изделия из различных металлических сплавов. К металлоконструкциям относятся несущие элементы зданий (балки, фермы, опоры), составляющие элементы лестниц (включая перила), оконных и дверных проемов, а также заборы, ограждения различного назначения, решетки, навесы, козырьки и т.д.
        p Сегодня металлоконструкции – основа любого строительства. Они применятся при возведении жилых домов и разнообразной сопутствующей инфраструктуры (заборы, детские площадки, паркинги т.д.), промышленных строений, а также – особенно часто – торгово-развлекательных и офисных центров. 
        p Это обусловлено тем, что, во-первых, только металлические конструкции позволяют строить высотные здания со сложными фасадами, во-вторых, срок службы любой постройки, где использованы металлоконструкции, существенно выше чем у других аналогов.
      .right
        p: b Изготавливаем и собираем:
        ul
          li закладные детали
          li арматурные каркасы
          li металлические колонны и балки
          li металлические вышки
          li стеллы
          li любые сварные и сборные конструкции
    include ../../modules/gallery/gallery
  include ../../modules/constructions_fos/constructions_fos
