.map
  height: 340px

.page
  background: $grey200
  padding-bottom: 70px

  p
    font-size: 15px
    line-height: 1.7

.wrapper
  wrapper()

.container
  container()

.info
  spanFluid(7)

.manufacture
  spanFluid(5)

.title
  padding: 60px 0px 40px
  margin: 0
  font-size: 24px
  font-family: 'Magistral', sans-serif
  font-weight: bold

.photo
  max-width: 100%
  display: block

.contacts
  container()

.contact
  spanFluid(6)
  line-height: 75px
  margin-bottom: 20px

.icon
  display: inline-block
  vertical-align: middle
  width: 75px
  height: 75px
  background: $white
  border-radius: 50%
  text-align: center

.icon_inner
  display: inline-block
  vertical-align: middle

.icon1
  sprite('img/sprite-phone.png')
.icon2
  sprite('img/sprite-email.png')
.icon3
  sprite('img/sprite-viber.png')

.text
  display: inline-block
  vertical-align: middle

  &_inner
    line-height: 1.7
    font-family: 'Magistral', sans-serif
    font-size: 15px

  b
    display: block
    font-size: 17px
    font-weight: bold