.grey
  .item
    background: #ebebeb
    border-color: #ebebeb

    &:before
      background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
      background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%)
      background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%)

.white
  .item
    background: #fff
    border-color: #fff

    &:before
      background: -moz-linear-gradient(left, rgba($grey200,0) 0%, rgba($grey200,1) 100%)
      background: -webkit-linear-gradient(left, rgba($grey200,0) 0%,rgba($grey200,1) 100%)
      background: linear-gradient(to right, rgba($grey200,0) 0%,rgba($grey200,1) 100%)

.wrapper
  cf()

.item
  display: block
  position: relative
  spanFluid(4, 'none')
  padding-left: 5px
  height: 110px
  line-height: 110px
  border-radius: 55px 0 0 55px
  margin: 10px 0
  border: 1px solid transparent
  transition: all .2s ease-out

  &:hover
    border-color: #f14806
    background: #ffe4d9

  &:before
    content: ' '
    display: block
    position: absolute
    width: 70%
    right: -1px
    top: -1px
    bottom: -1px

.image
  float: left
  font-size: 1px
  height: 100px
  width: 100px
  border-radius: 50px
  overflow: hidden
  margin-top: 4px

  img
    display: block

.text
  margin-left: 133px
  font-family: 'Arimo', sans-serif
  font-size: 15px
  padding-right: 70px
  position: relative
  z-index: 1

  &_inner
    display: inline-block
    vertical-align: middle
    line-height: 1.2