.block: .wrapper: .container
  .title #[span.logo] выполняет любые конструкции на заказ
  .cols
    .col
      p На этом этапе важно предусмотреть все тонкости будущей эксплуатации изделия, нагрузки, погодные и температурные условия и т.д.
      p Исходя из этого будет выбираться материал изготовления и определяться особенности конструкции. Внимательный подход к проектированию с учетом всех особенностей позволяет не только выполнить максимально надежное и долговечное изделие, но и сэкономить на материалах, точно определив оптимальный вид сплава и его необходимое количество.
    .col
      ol.steps
        li: .step Получаем задание
        li: .step Производим расчет стоимости
        li: .step Заключение договора
        li: .step Выполнение работы
        li.wide: .step Отгрузка готовых конструкций на объект заказчика
  .cols
    .col.big
      | #[span.warn Отправьте] нам чертеж#[br]
      | необходимых конструкций#[br]
      | и #[span.warn получите] полный расчет#[br]
      | в #[span.warn течение 24 часов]
    .col.form
      include ../blueprint_fos/blueprint_fos