.block
  .title Примеры работ
  .gallery
    a(href='http://placehold.it/1000x1000'): img(src='img/slide-1.jpg')
    a(href='img/slide-2.jpg'): img(src='img/slide-2.jpg')
    a(href='img/slide-3.jpg'): img(src='img/slide-3.jpg')
    a(href='img/slide-4.jpg'): img(src='img/slide-4.jpg')
    a(href='img/slide-1.jpg'): img(src='img/slide-1.jpg')
    a(href='img/slide-2.jpg'): img(src='img/slide-2.jpg')
    a(href='img/slide-3.jpg'): img(src='img/slide-3.jpg')
    a(href='img/slide-4.jpg'): img(src='img/slide-4.jpg')
