//.sprite1
//  sprite('img/sprite-icon1.png')

.sprite2
  sprite('img/sprite-icon2.png')

.image
  background-image: url('img/logo.png')
  width: image-width('img/logo.png')
  height: image-height('img/logo.png')
  //sprite('img/logo.png')