.block
  background: url('img/bg.jpg') no-repeat
  background-size: cover
  padding: 62px 0 57px
  text-align: center
  color: #fff

.title
  font-family: "Magistral", sans-serif
  font-weight: bold
  font-size: 32px
  padding-bottom: 19px
  margin: 0

.breadcrumbs
  font-size: 1px

.item
  font-size: 12px;
  display: inline-block
  vertical-align: middle

  &:after
    content: '-'
    display: inline-block
    vertical-align: top
    margin: 0 8px


.active
  color: $grey500

  &:after
    display: none