include ../popup/popup
include ../popup_input/popup_input
include ../button/button

+popup('header-callback')
  .title Заказать обратный звонок
  .text Мы перезвоним вам в течение нескольких минут
  form.form
    .input: +popup_input("Ваше имя")
    .input: +popup_input("Телефон")
    .submit
      +button('submit', 'Заказать звонок')