.title
  margin-bottom: 45px

  &_logo
    text-indent: 100%
    white-space: nowrap
    overflow: hidden
    display: inline-block
    vertical-align: middle
    sprite('../../img/sprite-seo-logo.png')

  &_text
    display: inline-block
    vertical-align: middle
    font-family: 'Magistral', sans-serif
    font-size: 24px

.icons
  container()

.icon
  spanFluid(4)
  height: 75px
  line-height: 75px
  margin-bottom: 30px

.image
  float: left
  height: 75px
  width: 75px
  background: $grey200
  border-radius 50%
  font-size: 1px
  text-align: center

  &_inner
    display: inline-block
    vertical-align: middle


.icon1
  sprite('img/sprite-advantage-1.png')
.icon2
  sprite('img/sprite-advantage-2.png')
.icon3
  sprite('img/sprite-advantage-3.png')
.icon4
  sprite('img/sprite-advantage-4.png')
.icon5
  sprite('img/sprite-advantage-5.png')
.icon6
  sprite('img/sprite-advantage-6.png')

.text
  margin-left: 95px
  margin-right: 20px

  &_inner
    display: inline-block
    vertical-align: middle
    font-size: 14px
    line-height: 1.2
