include ../seo/seo

+seo()
  div
    .title
      .title_text Преимущества
      .title_logo steelflex
    .content
      p Компания СтилФлекс реализует программу импортозамещения.
      p На нашем производстве мы изготовим и поставим детали, которые Вы заказывали за рубежом. Данная замена импортных комплектующих имеет ряд преимуществ:
      .icons
        .icon
          .image: .image_inner.icon1
          .text: .text_inner Полный цикл производства
        .icon
          .image: .image_inner.icon2
          .text: .text_inner Доставка собственным транспортом по всей России
        .icon
          .image: .image_inner.icon3
          .text: .text_inner Отдел проектирования
        .icon
          .image: .image_inner.icon4
          .text: .text_inner Быстрые сроки выполнения заказа
        .icon
          .image: .image_inner.icon5
          .text: .text_inner Расчет стоимости заказа в течение 1 дня
        .icon
          .image: .image_inner.icon6
          .text: .text_inner Работаем со своим материалом и материалом заказчика
