.block: .wrapper: .container
  .title Есть техническое задание? - #[b Получите] расчет стоимости заказа!
  .text
    p Принимаем задание в следующих форматах:
    .cols
      .col
        ul
          li autocad
          li word
          li в виде образца
      .col
        ul
          li в виде рисунка
          li в виде чертежа
          li в письменном или устном виде

    p.contact: span.contact_text Мы свяжемся с вами в течение 24 часов
  .form
    include ../blueprint_fos/blueprint_fos