.block
  .col
    .header Деятельность
    .text
      p Компания СтилФлекс реализует программу импортозамещения. На нашем производстве мы изготовим и поставим детали, которые Вы заказывали за рубежом. Данная замена импортных комплектующих имеет ряд преимуществ:
  .col
    .header Цели
    .text
      p Компания СтилФлекс реализует программу импортозамещения. На нашем производстве мы изготовим и поставим детали, которые Вы заказывали за рубежом. Данная замена импортных комплектующих имеет ряд преимуществ:

