.block
  spanFluid(12)
  padding-top: 55px

.title
  margin-bottom: 30px
  &_text
    display: inline-block
    vertical-align: middle
    font-family: "Magistral", sans-serif
    font-weight: bold
    font-size: 24px

.product
  spanFluid(6)

.inner
  container()
  display: block
  height: 260px

.image
.info
  spanFluid(6)

.image
  &_inner
    background: #fff
    border-radius: 4px
    height: 214px
    line-height: 214px
    text-align: center

    img
      display: inline-block
      vertical-align: middle
      max-width: 100%

.info
  color: $dark-black

.name
  font-family: "Magistral", sans-serif
  font-size: 18px
  margin: 15px 0 10px

.description
  font-family: "Magistral", sans-serif
  font-size: 15px
  margin-bottom: 20px

.text
  font-size: 13px
  line-height: 1.8

