.block
  .title
    .title_text Наше оборудование
  each product in [1,2]
    .product
      .inner
        .image: .image_inner: img(src='img/eq1.jpg')
        .info
          .name HACO ERMS 36100
          .description Листогибочный пресс
          .text Этот пресс создан как современное и высокотехнологичное оборудование с числовым программным управлением, системой электрорегулировки контроля глубины хода пуансона и графическим дисплеем. Гарантированная точность работы до 0,01 мм.
    .product
      .inner
        .image: .image_inner: img(src='img/eq1.jpg')
        .info
          .name Jordi CH-3050
          .description Гильотина
          .text Этот пресс создан как современное и высокотехнологичное оборудование с числовым программным управлением, системой электрорегулировки контроля глубины хода пуансона и графическим дисплеем. Гарантированная точность работы до 0,01 мм.
