extends ../../layout/layout

block body
  include ../../modules/index_slider/index_slider
  include ../../modules/index_production/index_production
  include ../../modules/index_fos/index_fos
  include ../../modules/index_about/index_about
  include ../../modules/index_partners/index_partners
