extends ../../layout/layout

block body
  h1.title hello
  include ../../modules/test/test
  //include ../../modules/grid/grid
  include ../../modules/sprites/sprites
  include ../../modules/sprites2/sprites2