include ../seo/seo

+seo()
  div
    .title
      .title_logo steelflex
      .title_text - это долгосрочные перспективы
    .text
      p Компания "Строй Металл" специализируется на изготовлении металлических изделий из черного металла, нержавейки, алюминия и латуни. С 2003 года нашей компанией были реализованы проекты в различных областях. Нашими клиентами являются строительные организации, гос. предприятия, торговые и промышленные компании, музеи.
      p Мы выполняли заказы на изготовление изделий из металла для: Государственного Эрмитажа, Этнографического музея, Музейного комплекса "Вселенная Воды", Музея "Художественного стекла"(на Елагином о-ве), "Российский институт истории искусств".