.title
  font-family: 'Magistral', sans-serif
  font-size: 24px
  margin-bottom: 25px

.text
  font-size: 15px
  margin-bottom: 17px

.form
  container()

.input
  spanFluid(6)
  margin-top: 20px

.submit
  spanFluid(12)
  margin-top: 35px