.block
  container()

.product
  spanFluid(4)

.inner
  margin-bottom: 15px
  height: 256px
  background: #fff
  border-radius: 6px
  padding: 5px
  display: block
  border: 1px solid $white
  transition: all .1s ease-out

  &:hover
    border-color: $red

.image
  max-width: 100%
  display: block
  border-radius: 6px
  overflow: hidden

.text
  color: $dark-black
  font-size: 15px
  line-height: 1.2
  margin: 10px auto 0
  width: 210px
  text-align: center
