.container
  .col1: .col
  .col1: .col
  .col1: .col
  .col1: .col
  .col1: .col
  .col1: .col
  .col1: .col
  .col1: .col
  .col1: .col
  .col1: .col
  .col1: .col
  .col1: .col

.container
  .col2: .col
  .col2: .col
  .col2: .col
  .col2: .col
  .col2: .col
  .col2: .col

.container
  .col3: .col
  .col3: .col
  .col3: .col
  .col3: .col

.container
  .col4: .col
  .col4: .col
  .col4: .col

.container
  .col6: .col
  .col6: .col
