include ../fos/fos

.block
  .title Рассчитать стоимость
  .subtitle Получите расчет стоимости вашего проекта, заполнив форму
  +fos("ПОЛУЧИТЬ РАСЧЕТ СТОИМОСТИ", "white")
  .subtitle или позвоните по номеру 8 (812) 969-91-75 с 10 до 22 ежедневно
