h2.title
  | 100 500
  .r р
.gallery
  a(href='http://placehold.it/500x500'): img(src='http://placehold.it/100x100')
  a(href='http://placehold.it/500x500'): img(src='http://placehold.it/100x100')
  a(href='http://placehold.it/500x500'): img(src='http://placehold.it/100x100')
include ../test_inner/test_inner