.block: .wrapper: .container
  .headers
    .header.header_active(data-for='tab1'): .header_text.gear Металлообработка
    .header(data-for='tab2'): .header_text.cube Металлоизделия
  .contents
    .content.content_active(id='tab1')
      a.item
        .image: img(src='img/metal-1.png')
        .text: .text_inner Лазерная и плазменная резка металла
      a.item
        .image: img(src='img/metal-2.png')
        .text: .text_inner Гибка металла
      a.item
        .image: img(src='img/metal-3.png')
        .text: .text_inner Сварочные работы
      a.item
        .image: img(src='img/metal-4.png')
        .text: .text_inner Окраска металла
      a.item
        .image: img(src='img/metal-5.png')
        .text: .text_inner Сборка металлоконструкций
      a.item
        .image: img(src='img/metal-6.png')
        .text: .text_inner Рубка металла
    .content(id='tab2')
      a.item
        .image: img(src='img/metal-1.png')
        .text: .text_inner Лазерная и плазменная резка металла
      a.item
        .image: img(src='img/metal-2.png')
        .text: .text_inner Гибка металла
      a.item
        .image: img(src='img/metal-3.png')
        .text: .text_inner Сварочные работы
      a.item
        .image: img(src='img/metal-4.png')
        .text: .text_inner Окраска металла
      a.item
        .image: img(src='img/metal-5.png')
        .text: .text_inner Сборка металлоконструкций
      a.item
        .image: img(src='img/metal-6.png')
        .text: .text_inner Рубка металла
