include ../services/services

.block: .wrapper: .container
  .headers
    .header.header_active(data-for='tab1'): .header_text.gear Металлообработка
    .header(data-for='tab2'): .header_text.cube Металлоизделия
  .contents
    .content.content_active(id='tab1')
      +services(null, 'metalworking_single.html')
    .content(id='tab2')
      +services(null, 'product_single.html')