.block: .wrapper: .container
  .title Нам доверяют
  .item
    .image: img(src='img/logo-1.png')
    .name Алмаз-Антей
  .item
    .image: img(src='img/logo-2.png')
    .name Биостандарт
  .item
    .image: img(src='img/logo-3.png')
    .name Sunpoint
  .item
    .image: img(src='img/logo-4.png')
    .name ТехЛен
  .item
    .image: img(src='img/logo-5.png')
    .name ЛСР
  .item
    .image: img(src='img/logo-6.png')
    .name ЛенДорСтрой
