.block
  padding: 60px 0

.wrapper
  wrapper()

.container
  container()

.title
  spanFluid(12)
  font-family: 'Magistral', sans-serif
  font-size: 24px
  font-weight: bold
  margin-bottom: 30px

.item
  spanFluid(2)
  height: 160px
  text-align: center

.image
  display: block
  margin: 0 auto
  height: 130px
  line-height: 130px
  font-size: 1px
  margin-bottom: 8px

  img
    display: inline-block
    vertical-align: middle
    max-width: 100%
    max-height: 100%

.name
  font-size: 15px