.block
  spanFluid(12)
  margin-top: 30px
  margin-bottom: 70px

  p
    font-size: 15px
    line-height 1.8
    margin: 0 0 35px

.inner
  background: #fff
  border-radius: 6px
  padding: 50px 50px 15px