$height = 84px

.placeholder
  height: $height

.header
  position: fixed
  left: 0
  top: 0
  height: $height
  width: 100%
  line-height: $height
  background: $grey200
  z-index: 10

.white
  background: $white
  box-shadow 0 1px 2px rgba(#000, 0.15)

.wrapper
  wrapper()

.container
  container()

.logo
  spanFluid(1)

.logo_image
  display: inline-block
  vertical-align: middle
  sprite('img/sprite-logo.png')

.menu
  spanFluid(7)
  font-weight: bold
  text-align: justify
  font-size: 1px
  line-height: 0

  &:after
    width: 100%
    height: 0
    visibility: hidden
    overflow: hidden
    content: ''
    display: inline-block

.menu_item
  display: inline-block
  vertical-align: middle
  font-size: 14px
  line-height: $height
  transition: all .1s ease-out

  a:hover, &.active a
    color: $red

.contacts
  spanFluid(3)
  text-align: center

  &_inner
    display: inline-block
    vertical-align: middle
    line-height: 1.2

.phone
  font-family: 'Magistral', sans-serif
  font-weight: 900
  font-size: 18px

.email
  font-size: 14px

.fos
  spanFluid(1)
  &_inner
    display: inline-block
    vertical-align: middle
    line-height: 1.2
    width: 100%

.call-icon
  content: ' '
  display: inline-block
  vertical-align: middle
  sprite('img/sprite-call.png')
