- var items = []
- items.push({name: "О компании", link: "about.html"})
- items.push({name: "Металлоконструкции", link: "constructions.html"})
- items.push({name: "Изделия", link: "products.html"})
- items.push({name: "Металлообработка", link: "metalworking.html"})
- items.push({name: "Контакты", link: "contacts.html"})

.block
  .placeholder
  footer.footer: .wrapper: .container
    .contacts
      .phone 8 (812) 969-91-75
      .work Работаем с #[b 9 до 21] Без выходных
      .address: .address_inner Санкт-Петербург, Коломяжский пр, 10
    .right
      nav.menu
        each item in items
          .menu_item: a(href=item.link)= item.name
      .info
        .email: .email_inner Info@steelflexspb.ru
        .copyright 2012-2016 © Steelflex.ru
        .logo STEELFLEX
