$height = 245px

.placeholder
  height: $height

.footer
  border-top: 1px solid $grey200
  padding: 55px 0 55px

  position: absolute
  bottom: 0
  width: 100%

.wrapper
  wrapper()

.container
  container()

.contacts
  spanFluid(4)

.phone
  font-family: 'Magistral', sans-serif
  font-weight: 900
  font-size: 30px
  margin-bottom: 50px

.work
  font-size: 12px
  margin-bottom: 18px

.address
  font-size: 13px

  &_inner
    display: inline-block
    vertical-align: middle

  &:before
    content: ' '
    display: inline-block
    vertical-align: middle
    sprite('img/sprite-geo.png')
    margin-right: 15px

.right
  spanFluid(8)
  text-align: right

.menu
  margin: 5px 0 88px
  font-size: 15px

.menu_item
  margin-left: 35px
  display: inline-block
  vertical-align: middle

.info
  font-size: 13px

.email
  display: inline-block
  vertical-align: middle

  &_inner
    display: inline-block
    vertical-align: middle

  &:before
    content: ' '
    display: inline-block
    vertical-align: middle
    sprite('img/sprite-mail.png')
    margin-right: 15px

.copyright
  display: inline-block
  vertical-align: middle
  margin-left: 55px

.logo
  text-indent: 100%
  white-space: nowrap
  overflow: hidden
  display: inline-block
  vertical-align: middle
  margin-left: 45px
  sprite('img/sprite-footer-logo.png')