.block
  .big_gallery
    a(href='img/big.jpg'): img(src='img/big.jpg')
    a(href='img/big.jpg'): img(src='img/big.jpg')
    a(href='img/big.jpg'): img(src='img/big.jpg')
    a(href='img/big.jpg'): img(src='img/big.jpg')
    a(href='img/big.jpg'): img(src='img/big.jpg')
    a(href='img/big.jpg'): img(src='img/big.jpg')
    
  .small_gallery
    .slide: img(src='img/small.jpg')
    .slide: img(src='img/small.jpg')
    .slide: img(src='img/small.jpg')
    .slide: img(src='img/small.jpg')
    .slide: img(src='img/small.jpg')
    .slide: img(src='img/small.jpg')
