include ../button/button

.block: .wrapper: .container
  .title
    .title_text Немного о
    =' '
    span.title_logo STEELFLEX
  .image: img(src='img/image.png')
  .text
    p Компания СтилФлекс реализует программу импортозамещения. На нашем производстве мы изготовим и поставим детали, которые Вы заказывали за рубежом. Данная замена импортных комплектующих имеет ряд преимуществ:
    ul
      li Низкая стоимость
      li Кратчайшие сроки поставки
      li Высокое качество
      li Гарантия
      li Отсутствие зависимости от иностранных производителей и поставщиков
    p Мы приглашаем к сотрудничеству и предлагаем вам серийное изготовление и поставку требуемых комплектующих, деталей, кронштейнов и т.д.
    +button('a', 'about.html', true, false, true) Подробнее о компании
