include ../modules/header/header
doctype html
html
  head
    title Hello
    link(href="https://fonts.googleapis.com/css?family=Arimo:400,700|Russo+One&amp;subset=cyrillic" rel="stylesheet")
    :styles

  body
    block header
      +header()
    .page
      block body
    include ../modules/footer/footer
    .hidden
      include ../modules/header_callback/header_callback
      include ../modules/product_order/product_order

    :scripts