doctype html
html
  head
    title Hello
    link(href="https://fonts.googleapis.com/css?family=Arimo:400,700|Russo+One&amp;subset=cyrillic" rel="stylesheet")
    :styles

  body
    include ../modules/header/header
    .page
      block body
    include ../modules/footer/footer

    :scripts