include ../services/services

.block
  .title
    .title_text Услуги металлообработки
    a.title_link(href='metalworking.html'): .title_link_text Смотреть все услуги

  +services('white', 'metalworking_single.html')